{% extends 'car/base/header.html' %}

{% block content %}
<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-col text-center w-full mb-20">
            <h1 class="sm:text-4xl text-3xl font-medium title-font mb-2 text-gray-900">Cars</h1>
        </div>
        <div class="lg:w-2/3 w-full mx-auto overflow-auto">
            {% if car_list %}
            <table class="table-auto w-full text-left whitespace-no-wrap">
                <thead>
                    <tr>
                        <th
                            class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100 rounded-tl rounded-bl">
                            Boilerplate</th>
                        <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">
                            Brand</th>
                        <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">
                            Model</th>
                        <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">
                            Creation Date</th>
                        <th
                            class="w-40 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100 rounded-tr rounded-br">
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for car in car_list %}
                    <tr>
                        <td class="border-t-2 border-b-2 border-gray-200 px-4 py-3">{{ car.boilerplate }}</td>
                        <td class="border-t-2 border-b-2 border-gray-200 px-4 py-3">{{ car.brand }}</td>
                        <td class="border-t-2 border-b-2 border-gray-200 px-4 py-3">{{ car.model }}</td>
                        <td class="border-t-2 border-b-2 border-gray-200 px-4 py-3">{{ car.creation_date }}</td>
                        <td
                            class="border-t-2 border-b-2 border-gray-200 px-4 py-3 w-40 text-center -mt-px -mb-px flex justify-between">
                            <a href="/car/edit/{{ car.boilerplate }}" class="">
                                <svg width="24" height="24" stroke-width="1.5" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M13.0207 5.82839L15.8491 2.99996L20.7988 7.94971L17.9704 10.7781M13.0207 5.82839L3.41405 15.435C3.22652 15.6225 3.12116 15.8769 3.12116 16.1421V20.6776H7.65669C7.92191 20.6776 8.17626 20.5723 8.3638 20.3847L17.9704 10.7781M13.0207 5.82839L17.9704 10.7781"
                                        stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </a>
                            <a href="/car/delete/{{ car.boilerplate }}">
                                <svg width="24" height="24" stroke-width="1.5" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M19 11V20.4C19 20.7314 18.7314 21 18.4 21H5.6C5.26863 21 5 20.7314 5 20.4V11"
                                        stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M10 17V11" stroke="currentColor" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path d="M14 17V11" stroke="currentColor" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path
                                        d="M21 7L16 7M3 7L8 7M8 7V3.6C8 3.26863 8.26863 3 8.6 3L15.4 3C15.7314 3 16 3.26863 16 3.6V7M8 7L16 7"
                                        stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>No cars are available.</p>
            {% endif %}
        </div>
        <div class="flex pl-4 mt-4 lg:w-2/3 w-full mx-auto">
            <button
                class="flex ml-auto text-white bg-red-500 border-0 py-2 px-6 focus:outline-none hover:bg-red-600 rounded">
                <a href="/car/new">Add car</a></button>
        </div>
    </div>
</section>

<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-col text-center w-full mb-20">
            <h1 class="sm:text-4xl text-3xl font-medium title-font mb-2 text-gray-900">Filters</h1>
        </div>
        <form action="{% url 'carFilterByBoilerplate' %}" method="post">
            {% csrf_token %}
            <div
                class="flex lg:w-2/3 w-full sm:flex-row flex-col mx-auto px-8 sm:space-x-4 sm:space-y-0 space-y-4 sm:px-0 items-end">
                <div class="relative flex-grow w-full">
                    <label for="boilerplate" class="leading-7 text-sm text-gray-600">Filter car by
                        boilerplate</label>
                    <input type="text" id="boilerplate" name="boilerplate" value="{{ boilerplate_filter }}" required
                        class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-red-500 focus:bg-transparent focus:ring-2 focus:ring-red-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                </div>
                <button
                    class="text-white bg-red-500 border-0 py-2 px-8 focus:outline-none hover:bg-red-600 rounded text-lg">
                    Filter</button>
            </div>
        </form>
        <div class="flex flex-row">
            <div
                class="flex lg:w-2/3 w-full sm:flex-row flex-col mx-auto px-8 sm:space-x-4 sm:space-y-0 space-y-4 sm:px-0 items-end">
                {% if filtered_car_by_boilerplate %}
                <table class="table-auto w-full text-left whitespace-no-wrap mb-10">
                    <thead>
                        <tr>
                            <th
                                class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100 rounded-tl rounded-bl">
                                Boilerplate</th>
                            <th
                                class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">
                                Brand</th>
                            <th
                                class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">
                                Model</th>
                            <th
                                class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">
                                Creation Date</th>
                            <th
                                class="w-40 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100 rounded-tr rounded-br">
                                Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="border-t-2 border-b-2 border-gray-200 px-4 py-3">
                                {{ filtered_car_by_boilerplate.boilerplate }}</td>
                            <td class="border-t-2 border-b-2 border-gray-200 px-4 py-3">
                                {{ filtered_car_by_boilerplate.brand }}</td>
                            <td class="border-t-2 border-b-2 border-gray-200 px-4 py-3">
                                {{ filtered_car_by_boilerplate.model }}</td>
                            <td class="border-t-2 border-b-2 border-gray-200 px-4 py-3">
                                {{ filtered_car_by_boilerplate.creation_date }}
                            </td>
                            <td
                                class="border-t-2 border-b-2 border-gray-200 px-4 py-3 w-40 text-center -mt-px -mb-px flex justify-between">
                                <a href="/car/edit/{{ car.boilerplate }}" class="">
                                    <svg width="24" height="24" stroke-width="1.5" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M13.0207 5.82839L15.8491 2.99996L20.7988 7.94971L17.9704 10.7781M13.0207 5.82839L3.41405 15.435C3.22652 15.6225 3.12116 15.8769 3.12116 16.1421V20.6776H7.65669C7.92191 20.6776 8.17626 20.5723 8.3638 20.3847L17.9704 10.7781M13.0207 5.82839L17.9704 10.7781"
                                            stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </a>
                                <a href="/car/delete/{{ car.boilerplate }}">
                                    <svg width="24" height="24" stroke-width="1.5" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M19 11V20.4C19 20.7314 18.7314 21 18.4 21H5.6C5.26863 21 5 20.7314 5 20.4V11"
                                            stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M10 17V11" stroke="currentColor" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                        <path d="M14 17V11" stroke="currentColor" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                        <path
                                            d="M21 7L16 7M3 7L8 7M8 7V3.6C8 3.26863 8.26863 3 8.6 3L15.4 3C15.7314 3 16 3.26863 16 3.6V7M8 7L16 7"
                                            stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                {% elif message_boilerplate %}
                <p class="mb-10">{{ message_boilerplate }}</p>
                {% endif %}
            </div>
        </div>

        <form action="{% url 'carFilterByDate' %}" method="post">
            {% csrf_token %}
            <div
                class="flex lg:w-2/3 w-full sm:flex-row flex-col mx-auto px-8 sm:space-x-4 sm:space-y-0 space-y-4 sm:px-0 items-end">
                <div class="relative flex-grow w-full">
                    <label for="creation_date" class="leading-7 text-sm text-gray-600">Filter car by creation
                        date before date</label>
                    <input type="date" id="creation_date" name="creation_date" required
                        value="{{ creation_date_filter }}"
                        class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-red-500 focus:bg-transparent focus:ring-2 focus:ring-red-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                </div>
                <button
                    class="text-white bg-red-500 border-0 py-2 px-8 focus:outline-none hover:bg-red-600 rounded text-lg">
                    Filter</button>
            </div>
        </form>
        <div class="flex flex-row">
            <div
                class="flex lg:w-2/3 w-full sm:flex-row flex-col mx-auto px-8 sm:space-x-4 sm:space-y-0 space-y-4 sm:px-0 items-end">
                {% if filtered_cars_by_date %}
                <table class="table-auto w-full text-left whitespace-no-wrap mb-10">
                    <thead>
                        <tr>
                            <th
                                class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100 rounded-tl rounded-bl">
                                Boilerplate</th>
                            <th
                                class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">
                                Brand</th>
                            <th
                                class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">
                                Model</th>
                            <th
                                class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">
                                Creation Date</th>
                            <th
                                class="w-40 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100 rounded-tr rounded-br">
                                Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for car in filtered_cars_by_date %}
                        <tr>
                            <td class="border-t-2 border-b-2 border-gray-200 px-4 py-3">{{ car.boilerplate }}</td>
                            <td class="border-t-2 border-b-2 border-gray-200 px-4 py-3">{{ car.brand }}</td>
                            <td class="border-t-2 border-b-2 border-gray-200 px-4 py-3">{{ car.model }}</td>
                            <td class="border-t-2 border-b-2 border-gray-200 px-4 py-3">{{ car.creation_date }}</td>
                            <td
                                class="border-t-2 border-b-2 border-gray-200 px-4 py-3 w-40 text-center -mt-px -mb-px flex justify-between">
                                <a href="/car/edit/{{ car.boilerplate }}" class="">
                                    <svg width="24" height="24" stroke-width="1.5" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M13.0207 5.82839L15.8491 2.99996L20.7988 7.94971L17.9704 10.7781M13.0207 5.82839L3.41405 15.435C3.22652 15.6225 3.12116 15.8769 3.12116 16.1421V20.6776H7.65669C7.92191 20.6776 8.17626 20.5723 8.3638 20.3847L17.9704 10.7781M13.0207 5.82839L17.9704 10.7781"
                                            stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </a>
                                <a href="/car/delete/{{ car.boilerplate }}">
                                    <svg width="24" height="24" stroke-width="1.5" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M19 11V20.4C19 20.7314 18.7314 21 18.4 21H5.6C5.26863 21 5 20.7314 5 20.4V11"
                                            stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M10 17V11" stroke="currentColor" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                        <path d="M14 17V11" stroke="currentColor" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                        <path
                                            d="M21 7L16 7M3 7L8 7M8 7V3.6C8 3.26863 8.26863 3 8.6 3L15.4 3C15.7314 3 16 3.26863 16 3.6V7M8 7L16 7"
                                            stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% elif message_date %}
                <p class="mb-10">{{ message_date }}</p>
                {% endif %}
            </div>
        </div>
    </div>
</section>

<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-col text-center w-full mb-20">
            <h1 class="sm:text-4xl text-3xl font-medium title-font mb-2 text-gray-900">Search</h1>
        </div>
        <form action="{% url 'carSearch' %}" method="post">
            {% csrf_token %}
            <div
                class="flex lg:w-2/3 w-full sm:flex-row flex-col mx-auto px-8 sm:space-x-4 sm:space-y-0 space-y-4 sm:px-0 items-end">

                <div class="relative flex-grow w-full">
                    <label for="boilerplate" class="leading-7 text-sm text-gray-600">Boilerplate</label>
                    <input type="text" id="boilerplate" name="boilerplate" value="{{boilerplate_search}}"
                        class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-red-500 focus:bg-transparent focus:ring-2 focus:ring-red-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                </div>
                <div class="relative flex-grow w-full">
                    <label for="brand" class="leading-7 text-sm text-gray-600">Brand</label>
                    <select name="brand" id="brand"
                        class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-red-500 focus:bg-transparent focus:ring-2 focus:ring-red-200 text-base outline-none text-gray-700 py-2.5 px-3 leading-8 transition-colors duration-200 ease-in-out">
                        <option value=""></option>
                        {% for brand in brand_list %}
                        {% if brand == brand_search %}
                        <option value="{{brand}}" selected>{{brand}}</option>
                        {% else %}
                        <option value="{{brand}}">{{brand}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="relative flex-grow w-full">
                    <label for="model" class="leading-7 text-sm text-gray-600">Model</label>
                    <select name="model" id="model"
                        class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-red-500 focus:bg-transparent focus:ring-2 focus:ring-red-200 text-base outline-none text-gray-700 py-2.5 px-3 leading-8 transition-colors duration-200 ease-in-out">
                        <option value=""></option>
                        {% for model in model_list %}
                        {% if model == model_search %}
                        <option value="{{model}}" selected>{{model}}</option>
                        {% else %}
                        <option value="{{model}}">{{model}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="relative flex-grow w-full">
                    <label for="creation_date" class="leading-7 text-sm text-gray-600">Creation Date</label>
                    <input type="date" id="creation_date" name="creation_date" value="{{ creation_date_search }}"
                        class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-red-500 focus:bg-transparent focus:ring-2 focus:ring-red-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                </div>
                <button
                    class="text-white bg-red-500 border-0 py-2 px-8 focus:outline-none hover:bg-red-600 rounded text-lg">
                    Search</button>
            </div>
        </form>
        <div
            class="flex lg:w-2/3 w-full sm:flex-row flex-col mx-auto px-8 sm:space-x-4 sm:space-y-0 space-y-4 sm:px-0 items-end">

            <div class="relative flex-grow w-full">
                {% if search_cars %}
                <table class="table-auto w-full text-left whitespace-no-wrap mb-10">
                    <thead>
                        <tr>
                            <th
                                class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100 rounded-tl rounded-bl">
                                Boilerplate</th>
                            <th
                                class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">
                                Brand</th>
                            <th
                                class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">
                                Model</th>
                            <th
                                class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">
                                Creation Date</th>
                            <th
                                class="w-40 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100 rounded-tr rounded-br">
                                Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for car in search_cars %}
                        <tr>
                            <td class="border-t-2 border-b-2 border-gray-200 px-4 py-3">{{ car.boilerplate }}</td>
                            <td class="border-t-2 border-b-2 border-gray-200 px-4 py-3">{{ car.brand }}</td>
                            <td class="border-t-2 border-b-2 border-gray-200 px-4 py-3">{{ car.model }}</td>
                            <td class="border-t-2 border-b-2 border-gray-200 px-4 py-3">{{ car.creation_date }}</td>
                            <td
                                class="border-t-2 border-b-2 border-gray-200 px-4 py-3 w-40 text-center -mt-px -mb-px flex justify-between">
                                <a href="/car/edit/{{ car.boilerplate }}" class="">
                                    <svg width="24" height="24" stroke-width="1.5" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M13.0207 5.82839L15.8491 2.99996L20.7988 7.94971L17.9704 10.7781M13.0207 5.82839L3.41405 15.435C3.22652 15.6225 3.12116 15.8769 3.12116 16.1421V20.6776H7.65669C7.92191 20.6776 8.17626 20.5723 8.3638 20.3847L17.9704 10.7781M13.0207 5.82839L17.9704 10.7781"
                                            stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </a>
                                <a href="/car/delete/{{ car.boilerplate }}">
                                    <svg width="24" height="24" stroke-width="1.5" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M19 11V20.4C19 20.7314 18.7314 21 18.4 21H5.6C5.26863 21 5 20.7314 5 20.4V11"
                                            stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M10 17V11" stroke="currentColor" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                        <path d="M14 17V11" stroke="currentColor" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                        <path
                                            d="M21 7L16 7M3 7L8 7M8 7V3.6C8 3.26863 8.26863 3 8.6 3L15.4 3C15.7314 3 16 3.26863 16 3.6V7M8 7L16 7"
                                            stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% elif message_search %}
                <p class="mb-10">{{ message_search }}</p>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
